html { 
    width: 1545px ;
    height: 1000px ;
     background: linear-gradient(to bottom right, #38D8E8, #40E0AF);
      };
.head {
    text-align: center;
    
}
.mainimage {
    width: 750px;
    height: 400px ;
    position: absolute;
    left: 20px;
    top: 120px;
    border-radius: 8px;
}
 h1 {
    font-size: 50px;
 }
 .title {
     font-size: 40PX;
     position: absolute;
     left: 870px;
     top: 90px ;
 }
.names {
    font-size: 30px;
    position: absolute;
    left: 850px;
    top: 155px;
}
.mainbutton {
    position: absolute;
    left: 1400px;
    top: 200px;
    width:40px ;
    height: 250px ;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 30px;

}